---
import { Image } from "astro:assets";
import { cn } from "@lib/utils";
import Container from "./Container.astro";
import {softGradientVariant as card} from "@tailus/themer-card"
import unparallel1Image from "../images/shoes/unparallel-1.png";
import unparallel2Image from "../images/shoes/unparallel-2.png";
import unparallel3Image from "../images/shoes/unparallel-3.png";

---

<section>
    <Container>
        <div class="space-y-4 sm:grid sm:grid-cols-2 lg:grid-cols-3 sm:space-y-0 sm:gap-4">
            <div class={cn(card.outer)}>
                <div class={cn(card.inner, "flex flex-col justify-between h-full")}>
                    <div>
                         <Image src={unparallel1Image} alt="resole job" loading="lazy" width="2481" height="1626" />
                    </div>
                    <div class="mt-6 space-y-2">
                        <h3 class="text-gray-950 dark:text-white text-lg font-medium">Data Visualization</h3>
                        <p class="text-gray-600 dark:text-gray-400">Quam quasi impedit voluptatum a reiciendis tempora atque aspernatur voluptatibus nostru.</p>
                    </div>
                </div>
            </div>
            <div class={cn(card.outer)}>
                <div class={cn(card.inner, "h-full flex flex-col justify-between")}>
                    <div>
                        <Image src={unparallel2Image} alt="resole job" loading="lazy" width="2481" height="1626" />
                    </div>
                    <div class="mt-6 space-y-2">
                        <h3 class="text-gray-950 dark:text-white text-lg font-medium">Easy Integration</h3>
                        <p class="text-gray-600 dark:text-gray-400">Quam quasi impedit voluptatum a reiciendis tempora atque aspernatur voluptatibus nostru.</p>
                    </div>
                </div>
            </div>
            <div class={cn(card.outer)}>
                <div class={cn(card.inner, "h-full flex flex-col justify-between")}>
                    <div>
                        <Image src={unparallel3Image} alt="resole job" loading="lazy" width="2481" height="1626" />
                    </div>
                    <div class="mt-6 space-y-2">
                        <h3 class="text-gray-950 dark:text-white text-lg font-medium">Real Time Insights</h3>
                        <p class="text-gray-600 dark:text-gray-400">Quam quasi impedit voluptatum a reiciendis tempora atque aspernatur voluptatibus nostru.</p>
                    </div>
                </div>
            </div>
        </div>
    </Container>
</section>